<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="keywords" content="">
<meta name="author" content="ILOVENAGAR">
<title>I Love Nagar
</title>
<link rel="apple-touch-icon" href="/images/logo/imgpsh_fullsize_anim (1).png">
<link rel="shortcut icon" type="image/x-icon" href="/images/ico/favicon.ico">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Quicksand:300,400,500,700" rel="stylesheet">
<link href="https://maxcdn.icons8.com/fonts/line-awesome/1.1/css/line-awesome.min.css" rel="stylesheet">
<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" /> -->
<!-- BEGIN Bootstrap css -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  
<!-- END Bootstrap css -->
<!-- fontawesome cdn -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<!-- font-awesome cdn -->
<!-- BEGIN VENDOR CSS-->
<link rel="stylesheet" type="text/css" href="/css/vendors.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/forms/icheck/icheck.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/forms/icheck/custom.css">
<!-- END VENDOR CSS-->
<!-- BEGIN MODERN CSS-->
<link rel="stylesheet" type="text/css" href="/css/app.css">
<!-- END MODERN CSS-->
<link rel="stylesheet" type="text/css" href="/vender/vendors.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/tables/datatable/datatables.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/tables/extensions/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/vendors/css/tables/datatable/buttons.bootstrap4.min.css">
<!-- BEGIN Page Level CSS-->
<link rel="stylesheet" type="text/css" href="/css/core/menu/menu-types/vertical-menu.css">
<link rel="stylesheet" type="text/css" href="/css/core/colors/palette-gradient.css">
<link rel="stylesheet" type="text/css" href="/css/pages/login-register.css">
<!-- END Page Level CSS-->
<!-- BEGIN bootstrap and datatable css -->
<link rel="stylesheet" type="text/css" href="/css/">

<!-- END bootstrap and datatable css -->
<!-- BEGIN Custom CSS-->
<link rel="stylesheet" type="text/css" href="/css/style.css">
<!-- END Custom CSS-->
