body {
    padding-top: 5px;
}

#container_class {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

#login_page {
    padding-top: 10rem;
    padding-right: 7.5rem;
    padding-left: 7.5rem;
}

#signup_page {
    padding-top: 6rem;
    padding-right: 7rem;
    padding-left: 7.5rem;
}


/* .card-title {
        padding-left: 15rem;
    } */

.main {
    padding-top: 3rem;
}