<html lang="en">

  <head>
      <%- include('../partials/header'); %>
      <style>
        .form-actions{border: none!important;margin: 0!important}
        .error{color: red}
        .hidden{display: none}
      </style>
  </head>
  <body>
    <section id="multiple">
          <div class="">
            <div class="col-12">
              <div class="card">

                <div class="container">
                  <button type="button" class="btn btn-info collapse_btn mt-2" data-toggle="collapse" data-target="#add_user_collapse">Add user</button>
                  <div id="add_user_collapse" aria-expanded="false" class="collapse mt-3">
                    <form id="add_user_form">
                      <input type="text" id="id" class="hidden">
                      <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name">Name<span style="color: red;">*</span></label>
                                <input type="text" id="name" name="name" class="form-control" placeholder="Enter user name">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="email">Email<span style="color: red;">*</span></label>
                                <input type="text" id="email" name="email" class="form-control" placeholder="Enter user email">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="number">number<span style="color: red;">*</span></label>
                                <input type="text" id="number" name="number" class="form-control" placeholder="Enter user number">
                            </div>
                        </div>
                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="role">Role<span style="color: red;">*</span></label>
                                <select class="col-sm-12 col-md-12 form-control form-control" name="role" id="role">
                                  <option value="0">Select role</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="role">Address<span style="color: red;">*</span></label>
                                <input type="text" id="address" name="address" class="form-control" placeholder="Enter user address">
                            </div>
                        </div>
                        <!-- <div class="col-md-4" id="password_box">
                            <div class="form-group">
                                <label for="role">Password<span style="color: red;">*</span></label>
                                <input type="text" id="password" name="password" class="form-control" placeholder="Enter user password">
                            </div>
                        </div> -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="status">Status<span style="color: red;">*</span></label>
                                <select class="col-sm-12 col-md-12 form-control form-control" name="status" id="status">
                                  <option value="0">Select status</option>
                                  <option value="true">Active</option>
                                  <option value="false">Deactive</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="role">Upload image<span style="color: red;">*</span></label>
                                <input type="file" id="profile_image">
                                <input type="text" id="image_path" class="hidden">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-actions pull-right" id="add">
                                <button type="submit" class="btn btn-info" id="add_user">
                                  <i class="la la-check-square-o"></i> Submit </button>
                            </div>
                            <div class="form-actions pull-right" id="update">
                                <button type="submit" class="btn btn-info" id="update_user">
                                  <i class="la la-check-square-o"></i> Update </button>
                            </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="card-header">
                    <table id="user_table" width="100%" class="table table-striped table-bordered data-multiple-buttongroups">
                    </table>
                </div>
                </div>
              </div>
            </div>
          </div>
    </section>
        
        <!-- footer -->
        <%- include('../partials/footer'); %>
        <script>
          let base_url = "<%=baseURL%>";
          let update = false;
          $(document).ready(() => {
              $("#add").show();
              $("#update").hide();
              // $("#password_box").show();
              // get user data for table
              load_datatable();

              // get all roles for select role dropdown
              $.ajax({
                type: 'get',
                contentType: 'application/json; charset=utf-8',
                url: base_url + "/role/get_user_role",
                success: function (data) {
                  data.forEach(i => {
                    $("#role").append(`<option value="${i.user_role}">${i.user_role}</option>`)
                  })
                }
              });
          })

          function load_datatable(){
            $.ajax({
                type: 'get',
                contentType: 'application/json; charset=utf-8',
                url: base_url + "/get_all_user_info",
                success: function (data) {
                  console.log(data);
                  $('#user_table').DataTable({
                    data: data,
                    "lengthMenu": [
                        [25, 50, 25, 25, 25, 25],
                        [25, 50, 25, 25, 25, 25]
                      ],
                    destroy: true,
                    scrollX: true,
                    aaSorting: [[0, 'desc']],
                    columns: [
                        // /{ 'data': '', 'sTitle': 'Sr.' },
                        { 'data': 'name', 'sTitle': 'Name' },
                        { 'data': 'mobile_number', 'sTitle': 'NUmber' },
                        { 'data': 'email', 'sTitle': 'Email' },
                        { 'data': 'user_role', 'sTitle': 'User role' },
                        { 'data': 'is_active', 'sTitle': 'Status' },
                        {
                          'data': 'null',
                          'sTitle': 'Action',
                          'render': function (data, type, row) {
                            return `
                              <div class="">
                                <button class="btn btn-primary" onclick="user_update('${row._id}')">
                                  <i class="fas fa-pencil-alt"></i>
                                </button>
                              </div>
                            `
                          }
                        }
                    ]
                  })
                }
              });
          }

            //validate form data
          function validate(){
              $('form[id="add_user_form"]').validate({
                rules: {
                  name: { required: true },
                  email: { required: true },
                  number: { required: true },
                  address: { required: true },
                },
                messages: {
                  name: { require: "Please enter user name" },
                  email: { require: "Please enter user email" },
                  number: { require: "Please enter user number" },
                  address: { require: "Please enter user address" },
                },
                submitHandler: function () {
                  console.log(update)
                  if(!update)
                    add_user();
                  else
                    update_user();
                }
              });
            }
            
            //submit user info
          $("#add_user").click(()=>{
              validate();
          })
          
          $("#update_user").click(()=>{
              validate();
          })
          
          $("#collapse").click();

          function add_user() {
            let user = new Object();
            user.name = $("#name").val()
            user.email = $("#email").val()
            user.mobile_number = $("#number").val()
            user.address = $("#address").val()
            // user.password = $("#password").val()
            user.user_role = $("#role").val()
            user.status = $("#status").val()
            // let name = $("#name").val()
            $.ajax({
              type: 'post',
              data: JSON.stringify(user),
              contentType: 'application/json; charset=utf-8',
              url: base_url + "/add_user",
              success: function (data) {
                if(data.message != "" || data.message != undefined || data.message != null){
                  load_datatable();
                  // toastr[data.message]("User Successfully Added");
                  $('#add_user_form input').val('');
                  if($(".collapse").attr('aria-expanded') == "true"){
                    $(".collapse_btn").click();
                  }
                }
                else{
                  // toastr[data.message](data.message);
                }
              }
            });
          }

          function update_user() {
            let user = new Object();
            user._id=$("#id").val();
            user.name = $("#name").val()
            user.email = $("#email").val()
            user.mobile_number = $("#number").val()
            user.address = $("#address").val()
            user.user_role = $("#role").val()
            //user.password = $("#password").val()
            user.user_role = $("#role").val()
            user.is_active = $("#status").val()
            // let name = $("#name").val()
            $.ajax({
              type: 'post',
              data: JSON.stringify(user),
              contentType: 'application/json; charset=utf-8',
              url: base_url + "/update_user_profile",
              success: function (data) {
                if(data.message != "" || data.message != undefined || data.message != null){
                  // toastr[data.message]("User Successfully Added");
                  if($(".collapse").attr('aria-expanded') == "true"){
                    $(".collapse_btn").click();
                  }
                  load_datatable();
                  // $("#password_box").show();
                  $('#add_user_form input').val('');
                  $("#add").show();
                  $("#update").hide();
                  update = false;
                  $(`option`).removeAttr('selected');
                  $(`option`).removeAttr('selected');
                  $(`option[value="0"]`).attr('selected', 'selected');
                  $(`option[value="0"]`).attr('selected', 'selected');
                }
                else{
                  // toastr[data.message](data.message);
                }
              }
            });
          }
          
          function user_update(id){
            
            $.ajax({
                type: 'get',
                contentType: 'application/json; charset=utf-8',
                url: base_url + "/get_user_info?user_id="+id,
                success: function (data) {
                  $("#id").val(data._id)
                  $("#name").val(data.name)
                  $("#email").val(data.email)
                  $("#number").val(data.mobile_number)
                  $("#address").val(data.address)
                  $(`option`).removeAttr('selected');
                  $(`option`).removeAttr('selected');
                  $(`option[value="${data.user_role}"]`).attr('selected', 'selected');
                  $(`option[value="${data.is_active}"]`).attr('selected', 'selected');
                  update = true;
                  $("#add").hide();
                  $("#update").show();
                  // $("#password_box").hide();
                  if($(".collapse").attr('aria-expanded') == "false"){
                    $(".collapse_btn").click();
                  }
                }
              });
          }
        </script>
  </body>
</html>
