<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
  <%- include('../partials/header'); %>
</head>

<body class="vertical-layout vertical-menu 2-columns   menu-expanded fixed-navbar" data-open="click"
  data-menu="vertical-menu" data-col="2-columns">
  <!-- fixed-top-->
  <nav
    class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light bg-info navbar-shadow">
    <div class="navbar-wrapper">
      <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
          <li class="nav-item mobile-menu d-md-none mr-auto"><a class="nav-link nav-menu-main menu-toggle hidden-xs"
              href="#"><i class="ft-menu font-large-1"></i></a></li>
          <li class="nav-item">
            <a class="navbar-brand" href="index.html">
              <img class="brand-logo" alt="modern admin logo" src="/images/logo/logo.png">
              <h3 class="brand-text">Modern Admin</h3>
            </a>
          </li>
          <li class="nav-item d-md-none">
            <a class="nav-link open-navbar-container" data-toggle="collapse" data-target="#navbar-mobile"><i
                class="la la-ellipsis-v"></i></a>
          </li>
        </ul>
      </div>
      <div class="navbar-container content">
        <div class="collapse navbar-collapse" id="navbar-mobile">
          <ul class="nav navbar-nav mr-auto float-left">
            <li class="nav-item d-none d-md-block"><a class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                  class="ft-menu"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <!-- ////////////////////////////////////////////////////////////////////////////-->
  <div class="main-menu menu-fixed menu-light menu-accordion    menu-shadow " data-scroll-to-active="true">
    <div class="main-menu-content">
      <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
        <li class=" nav-item"><a href="index.html"><i class="la la-home"></i><span class="menu-title"
              data-i18n="nav.dash.main">Dashboard</span><span
              class="badge badge badge-info badge-pill float-right mr-2">3</span></a>
          <ul class="menu-content">
            <li><a class="menu-item" href="dashboard-ecommerce.html" data-i18n="nav.dash.ecommerce">eCommerce</a>
            </li>
            <li><a class="menu-item" href="dashboard-crypto.html" data-i18n="nav.dash.crypto">Crypto</a>
            </li>
            <li><a class="menu-item" href="dashboard-sales.html" data-i18n="nav.dash.sales">Sales</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
          <h3 class="content-header-title">Update Password</h3>
        </div>
        <div class="content-header-right col-md-6 col-12">

        </div>
      </div>
      <div class="content-body">
        <form action="/update_user_password" method="POST">
          <div class="container">
            <div class="row">
              <div class="col-lg-4">
                <div class="form-group w-55">
                  <label for="current password">Current Password</label>
                  <input type="password" class="form-control" id="current_password" aria-describedby=""
                    placeholder="Enter Current Password">
                </div>
                <div class="form-group w-55">
                  <label for="new password">New Password</label>
                  <input type="password" class="form-control" id="new_password" placeholder="New Password">
                </div>
                <div class="form-group w-55">
                  <label for="confirm password">Confirm Password</label>
                  <input type="password" class="form-control" id="confirm_password" aria-describedby=""
                    placeholder="Enter Confirm Password">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <button type="submit" id="update_button" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <%- include('../partials/footer'); %>
  <script>
    $("#update_button").on("click", () => {
      var current_password = $('#current_password').val();
      var new_password = $('#new_password').val();
      var confirm_password = $('#confirm_password').val();
      $.ajax({
        url: "http://localhost:5002/update_user_password",
        type: 'POST',
        headers: {
          "Authorization": user_token.id
        },
        data: {
          current_password: current_password,
          new_password: new_password,
          confirm_password:confirm_password
        },
        success: (data) => {
          if(data){
            //alert("Success")politition,repoter,admin
          }
        }
      });
    })
  </script>
</body>

</html>