<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header'); %>
</head>

<body class="container-fluid">
    <main>
        <div class="container" id="container_class">
            <div class="row">
                <div class="col-sm">

                </div>
                <div class="col-sm">

                </div>
                <div class="col-sm">

                </div>

            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>

</html>