<!DOCTYPE html>
<html lang="en">

<head>

    <link rel="stylesheet" href="../../assets/css/head.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body class="container-fluid bg-secondary">
    <main>
        <div class="container" style="padding-top: 10rem;" id="login_page">
            <div class="row">
                <div class="col-sm">
                </div>
                <div class="col-sm">
                    <div class="card" style="width: 30rem;">
                        <div class="card-body">
                            <h3 class="card-title">Error</h3>
                            <h5>Please Sign Up First then Try to Login</h5>
                        </div>
                        <div>
                            <a href="/" class="btn btn-primary">Back</a> 
                        </div>
                    </div>
                </div>
                <div class="col-sm">

                </div>
            </div>
        </div>
    </main>
</body>

</html>