<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">

<head>
    <%- include('../partials/header'); %>

</head>

<body class="vertical-layout vertical-menu 1-column   menu-expanded blank-page blank-page" data-open="click"
    data-menu="vertical-menu" data-col="1-column">
    <!-- ////////////////////////////////////////////////////////////////////////////-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <section class="flexbox-container">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="col-md-4 col-10 box-shadow-2 p-0">
                            <div class="card border-grey border-lighten-3 px-2 py-2 m-0">
                                <div class="card-header border-0 pb-0">
                                    <div class="card-title text-center">
                                        <img src="/images/logo/imgpsh_fullsize_anim (1).png" alt="branding logo">
                                    </div>
                                    <h6 class="card-subtitle line-on-side text-muted text-center font-small-3 pt-2">
                                        <span>We will send you a link to reset password.</span>
                                    </h6>
                                </div>
                                <div class="card-content">
                                    <div class="card-body">
                                        <form class="form-horizontal" action="/check_unique_mobile_number"
                                            method="POST">
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" class="form-control form-control-lg input-lg"
                                                    id="mobile_number" placeholder="Your Phone" name="mobile_number"
                                                    required>
                                                <div class="form-control-position">
                                                    <i class="ft-user"></i>
                                                </div>
                                            </fieldset>
                                            <fieldset class="form-group position-relative has-icon-left">
                                                <input type="text" id="user_password"
                                                    class="form-control form-control-lg input-lg"
                                                    placeholder="Enter Password" name="password">
                                                <div class="form-control-position">
                                                    <i class="la la-key" id="icon"></i>
                                                </div>
                                            </fieldset>
                                            <a class="btn btn-outline-info btn-lg btn-block" role="button"
                                                id="login">Login</a>
                                        </form>
                                    </div>
                                    <div class="col-md-6 col-12 text-center ml-auto"><a href="/forgot_password"
                                            class="card-link">Forgot Password?</a></div>
                                </div>
                                <div class="card-footer border-0">

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/assets/js/custom/User_Login.js"></script>
    <script type="text/javascript">
        $(function() {
            user.init();
        });
    </script>
</body>
</html>